In [44]:
import pandas as pd

In [45]:
data = pd.read_csv('인천광역시_유동인구_202107.csv', encoding='cp949')

MemoryError: Unable to allocate 454. MiB for an array with shape (3, 19855954) and data type float64

In [7]:
data

,센서명,시간,위도,경도,지오해시,시,군구,동,성별,연령대
0,M-IOT-000000D3,2021-07-20 17:47:00,37.391024,126.721630,wydhewgf,인천광역시,남동구,논현동,NaN,NaN
1,M-IOT-000000D3,2021-07-20 17:47:00,37.391024,126.721630,wydhewgf,인천광역시,남동구,논현동,NaN,NaN
2,M-IOT-000000D3,2021-07-20 17:47:00,37.391024,126.721630,wydhewgf,인천광역시,남동구,논현동,NaN,NaN
3,M-IOT-000000D3,2021-07-20 17:47:00,37.391024,126.721630,wydhewgf,인천광역시,남동구,논현동,NaN,NaN
4,M-IOT-000000D3,2021-07-20 17:47:00,37.391024,126.721630,wydhewgf,인천광역시,남동구,논현동,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
19855949,M-IOT-000000DD,2021-07-28 16:19:00,37.579851,126.728153,wydjgc0w,인천광역시,계양구,갈현동,M,50.0
19855950,M-IOT-000000DD,2021-07-28 16:19:00,37.579851,126.728153,wydjgc0w,인천광역시,계양구,갈현동,NaN,NaN
19855951,M-IOT-000000DD,2021-07-28 16:19:00,37.579851,126.728153,wydjgc0w,인천광역시,계양구,갈현동,NaN,NaN
19855952,M-IOT-000000DD,2021-07-28 16:19:00,37.579851,126.728153,wydjgc0w,인천광역시,계양구,갈현동,NaN,NaN
19855953,M-IOT-000000DD,2021-07-28 16:19:00,37.579851,126.728153,wydjgc0w,인천광역시,계양구,갈현동,NaN,NaN

In [23]:
df=data.drop(['성별','연령대','지오해시','시','센서명'], axis=1)

In [31]:
df

                          시간         위도          경도   군구    동
0        2021-07-20 17:47:00  37.391024  126.721630  남동구  논현동
1        2021-07-20 17:47:00  37.391024  126.721630  남동구  논현동
2        2021-07-20 17:47:00  37.391024  126.721630  남동구  논현동
3        2021-07-20 17:47:00  37.391024  126.721630  남동구  논현동
4        2021-07-20 17:47:00  37.391024  126.721630  남동구  논현동
...                      ...        ...         ...  ...  ...
19855949 2021-07-28 16:19:00  37.579851  126.728153  계양구  갈현동
19855950 2021-07-28 16:19:00  37.579851  126.728153  계양구  갈현동
19855951 2021-07-28 16:19:00  37.579851  126.728153  계양구  갈현동
19855952 2021-07-28 16:19:00  37.579851  126.728153  계양구  갈현동
19855953 2021-07-28 16:19:00  37.579851  126.728153  계양구  갈현동

[19855954 rows x 5 columns]

In [10]:
list_time = data['시간'].unique().tolist()

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19855954 entries, 0 to 19855953
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   센서명     object
 1   시간      datetime64[ns]
 2   위도      float64
 3   경도      float64
 4   군구      object
 5   동       object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 908.9+ MB

In [16]:
data['시간'] = pd.to_datetime(data['시간'])

In [31]:
grouped

          센서명       시간       위도       경도        동
군구
강화군      8359     8359     8359     8359     8359
계양구   2051879  2051879  2051879  2051879  2051879
남동구   3963172  3963172  3963172  3963172  3963172
동구     396127   396127   396127   396127   396127
미추홀구  3422494  3422494  3422494  3422494  3422494
부평구   4793982  4793982  4793982  4793982  4793982
서구    2461523  2461523  2461523  2461523  2461523
연수구   2120857  2120857  2120857  2120857  2120857
중구     637561   637561   637561   637561   637561

In [35]:
result = df.groupby([df['시간'].dt.hour, '군구']).size().reset_index(name='카운트')

result[:200]

     시간    군구     카운트
0     0   강화군     183
1     0   계양구   30043
2     0   남동구   66110
3     0    동구    3149
4     0  미추홀구   45032
..   ..   ...     ...
195  22   계양구   71264
196  22   남동구  177369
197  22    동구   11808
198  22  미추홀구  152438
199  22   부평구  167862

[200 rows x 3 columns]

In [38]:
result['시간']==0

     시간    군구     카운트
0     0   강화군     183
1     0   계양구   30043
2     0   남동구   66110
3     0    동구    3149
4     0  미추홀구   45032
..   ..   ...     ...
207  23  미추홀구  100337
208  23   부평구  131975
209  23    서구   89379
210  23   연수구   52020
211  23    중구   10700

[212 rows x 3 columns]

In [39]:
result[result['시간']==0]

   시간    군구    카운트
0   0   강화군    183
1   0   계양구  30043
2   0   남동구  66110
3   0    동구   3149
4   0  미추홀구  45032
5   0   부평구  79079
6   0    서구  39470
7   0   연수구  30525
8   0    중구   3047

In [36]:
result3 = df.groupby([df['시간'].dt.day, '군구','동']).count()
result3

                 시간     위도     경도
시간 군구  동
1  계양구 갈현동      186    186    186
       계산동    28231  28231  28231
       귤현동     2806   2806   2806
       노오지동      76     76     76
       다남동      133    133    133
...             ...    ...    ...
31 중구  중산동     2672   2672   2672
       중앙동3가     27     27     27
       항동2가      37     37     37
       항동5가      14     14     14
       항동7가    1742   1742   1742

[3557 rows x 3 columns]

In [37]:
result3['시간']==2

시간  군구   동
1   계양구  갈현동      False
         계산동      False
         귤현동      False
         노오지동     False
         다남동      False
                  ...
31  중구   중산동      False
         중앙동3가    False
         항동2가     False
         항동5가     False
         항동7가     False
Name: 시간, Length: 3557, dtype: bool

In [38]:
result3[result3['시간']==2]

Empty DataFrame
Columns: [시간, 위도, 경도]
Index: []

In [39]:
result3.index

MultiIndex([( 1, '계양구',   '갈현동'),
            ( 1, '계양구',   '계산동'),
            ( 1, '계양구',   '귤현동'),
            ( 1, '계양구',  '노오지동'),
            ( 1, '계양구',   '다남동'),
            ( 1, '계양구',   '동양동'),
            ( 1, '계양구',   '둑실동'),
            ( 1, '계양구',   '목상동'),
            ( 1, '계양구',   '박촌동'),
            ( 1, '계양구',   '방축동'),
            ...
            (31,  '중구',   '운서동'),
            (31,  '중구',    '유동'),
            (31,  '중구',   '을왕동'),
            (31,  '중구',   '인현동'),
            (31,  '중구',    '전동'),
            (31,  '중구',   '중산동'),
            (31,  '중구', '중앙동3가'),
            (31,  '중구',  '항동2가'),
            (31,  '중구',  '항동5가'),
            (31,  '중구',  '항동7가')],
           names=['시간', '군구', '동'], length=3557)